body {
    width: 520px;
    font-family: Calibri;
    font-size: 12px;
    background-color: rgba(0, 178, 166, 0.75);
}

.logIn {
    display: inline-block;
    width: 52%;
}

.logInElements {
    border-bottom: 1px solid blue;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.contentLogIn {
    width: 39%;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}

.contentCreate {
    display: inline-block;
    width: 36%;
    float: left;
    padding: 40px 15px 0px 0;
}

.accountCreation {
    display: inline-block;
    width: 59%;
}

.container {
    border: 2px solid gray;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    background-color: lightgray;
    box-shadow: 5px 5px black;
    border-radius: 10px;
}

.error {
    display: none;
    color: red;
    width: 100% !important;
}

.button {
    background-color: lightblue;
    display: inline-block;
    border-radius: 10px;
    float: right;
    width: 110px;
    margin-top: 10px;
}

.header {
    
    font-family: "Cambria";
    font-size: 16px;
    font-weight: bold;

}

.legal {
    
    font-family: Calibri;
    font-size: 12px;
    font-style: italic;

}

.create {

    width: 50%;

}

.label {
    width: 42%;
    display: inline-block;
    padding: 12px 0;
}

.accountName {
    display: inline-block;
    width: 23%;
    vertical-align: top;
}

.values {
    display: inline-block;
    width: 68%;
    border-left: 1px solid black;
    padding-left: 15px;
}

.information {
    display: table;
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    padding: 0 10px;
}

.secondView{

    display:none;

}

.content {
    font-size: 14px;

}

div.logIn > .label {

    padding-right: 14px;


}

.createButton {
    
    margin-right: 25px;

}

button.button.update{

    width: 25%;
    float: none;
    margin: 0;

}

div.accountName > .label {
    
    display: block;

}

div.accountName:first-child .name {
    font-weight: bold;
}

.value {
    padding: 12px 0;

}

