@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">

            <div>Welcome to Cuyahoga Community College Student Services Online</div>

            <div>Cuyahoga Community College recognizes students' rights to access personal and academic recods in accordance with the Family and Educational Rights and Privacy Act of 1974 (FERPA) as amended by Public Law 93-568</div>

            <div class="container">
               
                <div class="logInElements">

                    <div class="contentLogIn">Already have an account? Returning users may log in by entering their site username and password.</div>

                    <div class="logIn">
                        <div>Username <input class="login username" type="text" value="" /></div>
                        <div>Password <input class="login password" type="text" value="" /></div>
                        <button>Log In</button>
                    </div>

                </div>

                <div class="createElements">

                    <div class="contentCreate">New users, please create a new account by providing us with some basic information.</div>

                    <div class="accountCreation">
                        <div>Username <input class="create username" type="text" value="" /></div>
                        <div>Password <input class="create password" type="text" value="" /></div>
                        <div>E-Mail Address <input class="create email" type="text" value="" /></div>
                        <div>Repeat Email Address <input class="create repeatEmail" type="text" value="" /></div>
                        <button type="button" class="createButton">Create Account</button>
                    </div>

                </div>
            </div>

            <div class="footer">
                Cuyahoga Community College<br />
                700 Carnegie Avenue, Cleveland, Ohio 44115

            </div>

        </div>

    </body>

</html>