@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">

            <div>Welcome to Cuyahoga Community College Student Services Online</div>

            <div>Cuyahoga Community College recognizes students' rights to access personal and academic recods in accordance with the Family and Educational Rights and Privacy Act of 1974 (FERPA) as amended by Public Law 93-568</div>

            <div class="container">
                <div>Already have an account? Returning users may log in by entering their site username and password.</div>

                <div class="logIn">
                    <div>Username</div>
                    <div>Password</div>
                    <button>Log In</button>
                </div>

                <div class="accountCreation">
                    <div>Username</div>
                    <div>Password</div>
                    <div>E-Mail Address</div>
                    <div>Repeat Email Address</div>
                    <button>Create Account</button>

                </div>

            </div>

        </div>

    </body>

</html>