body
{
	background-color: lightgray;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
}

.content-page{

	margin-left: auto;
	margin-right: auto;
	background-color: white;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000052;
}

.header{

	background-color: #960cce;
	color: white;
	padding: 12px;
	text-align: center;

}


.month{

display:inline-block;
border: 3px solid #960cce;
padding: 5px;
margin: 21px;
text-align: center;

}

.details{

	width: 212px;
	height: 150px;
	border: 1px solid black;
	display: table;
	margin: auto;
	padding: 7px;
    margin-top: 10px;


}


@media only screen and (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
        background-color: yellow;
    }
    .content-page {
        width: 65%;
    }
    .month{
        width: 110px;

    }
}


@media only screen and (max-width: 800px) {
    body {
        background-color: white;
        margin: 0px;
    }
    .content-page {
        width: 100%;
        border: none;
        margin: 0px;
        box-shadow: none;
    }
    .month {
        margin-left: 30px;
        width: 85px;
    
    }
}

@media only screen and (max-width:570px) and (orientation: landscape) { /* smartphones, Android phones, landscape iPhone */

    body {
        font-size: 20px;
    }

    .header > h1 {
    
       font-size: 20px;
    
    }
}


@media only screen and (max-width:480px) { /* smartphones, Android phones, landscape iPhone */

    .month {
        width: 70px;
        margin: 20px;
    }
    .display {
        padding: 15px;
    }

}



@media only screen and (max-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

    .month {
        display: block;
        margin: 25px auto;
        width: 40%;
    }
    .details{

        border: 1px solid purple;
    
}




}








