@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">

            <div class="header">Welcome to Cuyahoga Community College Student Services Online</div>

            <div class="legal">Cuyahoga Community College recognizes students' rights to access personal and academic recods in accordance with the Family and Educational Rights and Privacy Act of 1974 (FERPA) as amended by Public Law 93-568</div>

            <div class="container firstView">
               
                <div class="logInElements">

                    <div class="content contentLogIn">Already have an account? Returning users may log in by entering their site username and password.</div>

                    <div class="logIn">
                        <div class="mobileTitle">Log In</div>
                        <div class="label">Username</div><input class="login username" type="text" value="" />
                        <div class="label">Password</div><input class="login password" type="text" value="" />
                        <div class="error logIn">Please enter valid log in credentials.</div>
                        <button type="button" class="logInButton button">Log In</button>
                    </div>

                </div>

                <div class="createElements">

                    <div class="content contentCreate">New users, please create a new account by providing us with some basic information.</div>

                    <div class="accountCreation">
                        <div class="mobileTitle">Create New Account</div>
                        <div class="label">Username </div>
                        <input class="create username" type="text" value="" />
                        <div class="error create">The username you entered is already taken.</div>
                        <div class="label">Password </div>
                        <input class="create password" type="text" value="" />
                        <div class="error create">Password must contain atleast 6 characters.</div>
                        <div class="label">E-Mail Address </div>
                        <input class="create email" type="text" value="" />
                        <div class="label">Repeat E-mail Address </div>
                        <input class="create repeatEmail" type="text" value=""/>
                        <button type="button" class="createButton button">Create Account</button>
                    </div>

                </div>
            </div>

            <!-- End of Home-->
        </div>

        <div class="container secondView">
            <div class="view">

                <div class="information">
                    <div class="accountName">
                    <div class="label name">AccountName</div>
                        <div class="label">EMailAddress</div>
                        <div class="label">CurrentGPA</div>
                    
                      </div>
                    <div class="values">
                        <div class="mobileTitle">AccountName</div>
                        <div class="value displayName">username</div>
                        <div class="mobileTitle">EMailAddress</div>
                        <div class="value"><input class="account email" type="text" value=""/><button type="button" class="button update email">Update</button></div>
                        <div class="mobileTitle">CurrentGPA</div>
                        <div class="value"><input class="account gpa" type="text" value=""/><button type="button" class="button update GPA">Update</button></div>
                    </div>
                </div>
                <div class="additionalInfo">
                    <div>Additional Information: </div>


                </div>


                <div class="elements">

                    <div class="element"><div class="label add">ElementName</div><input class="account element elementName" type="text" value="" /></div>
                    <div class="element"><div class="label add">ElementValue</div><input class="account element elementValue" type="text" value="" /></div>
                    <div class="element"><button type="button" class="button addElement">Add</button></div>

                </div>
            </div>







            <!-- End view-->
        </div>








        <div class="footer">
            Cuyahoga Community College<br />
            700 Carnegie Avenue, Cleveland, Ohio 44115

        </div>


    </body>

</html>