body
{
	background-color: lightgray;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
}

.content-page{

	margin-left: auto;
	margin-right: auto;
	background-color: white;

	width: 900px;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000052;
}

.header{

	background-color: #960cce;
	color: white;
	padding: 12px;
	text-align: center;

}

h1{
	width: 800px;
}


.month{

display:inline-block;
border: 3px solid #960cce;
width: 13%;
padding: 5px;
margin: 21px;
text-align: center;

}

.details{

	width: 212px;
	height: 150px;
	border: 1px solid black;
	display: table;
	margin: auto;
	padding: 7px;


}